 .container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    margin: 0; 
    background-image: url("https://img.goodfon.com/wallpaper/big/4/5c/makro-krupnym-planom-noutbuk-globus-sfera-shar-klaviatura-po.webp");
    background-repeat: no-repeat;
    background-size: cover; 
    box-sizing: border-box;
    
    
}

.login-container {
    margin: 0;
    width: 300px; 
    padding: 40px; 
    border: 4px solid black; 
    border-radius: 20px; 
    background-color: rgba(153, 214, 231, 0.594);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
.login-input
{
    color: black;
}

